body {
  color:navy;
  background-color: skyblue;
}
h1 {
  text-align: center;
}
.row {
  padding: 25px;
}
#rollP2 {
  display: none;
}
#one {
  background: orange;
  height: 300px;
  padding: 50px;
}
#two {
  background: teal;
  height: 300px;
  padding: 50px;
}
#p1DiceThrow {
  text-align: center;
  font-size: 1.5em;
}
#p2DiceThrow {
  text-align: center;
  font-size: 1.5em;
}
#roll1Total {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}
#roll2Total {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}
#p1FinalScore {
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
}
#p2FinalScore {
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
}
#flipy:hover {
  color: orange;
}
.jumbotron {
  background-color: orange;
  padding: 15px;
  margin: 20px;
  display: none;
}
