body {
  color: navy;
}
#one {
  float: left;
  background-color: red;
  height: 300px;
  padding: 50px;
}
#two {
  float: right;
  background-color: yellow;
  height: 300px;
  padding: 50px;
}
h1 {
  text-align: center;
}
.row {
  background-color: silver;
  padding: 25px;
}
#roll {
  color:green;
}
#hold {
  color: navy;
}
